{
  "GITHUB_TOKEN": "ghp_your_pat_with_repo_and_secrets_scope",
  "REPO_OWNER": "baturhantasdelen-sudo",
  "DOCKER_USERNAME": "your_dockerhub_username",
  "DOCKER_PASSWORD": "your_dockerhub_access_token",
  "PROD_SERVER_IP": "35.246.212.11",
  "PROD_SERVER_USER": "nexus-github-actions-deploy",
  "CLOUDFLARE_TUNNEL_TOKEN": "your_cloudflare_tunnel_run_token",
  "PROD_PUBLIC_URL": "https://your-subdomain.example.com",
  "PROD_SSH_PRIVATE_KEY": "-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACBJjEd3i63MKUKrMFLOQAdl1zAA/ZESRkUn0te5+QKwZAAAAKAj7GDwI+xg
8AAAAAtzc2gtZWQyNTUxOQAAACBJjEd3i63MKUKrMFLOQAdl1zAA/ZESRkUn0te5+QKwZA
AAAEC0By3R96ODvoN8JG21C+tje9s/90k3/L5u4YTHy6mSRUmMR3eLrcwpQqswUs5AB2XX
MAD9kRJGRSfS17n5ArBkAAAAG25leHVzLWdpdGh1Yi1hY3Rpb25zLWRlcGxveQEC
-----END OPENSSH PRIVATE KEY-----
"
}
