{
  "GITHUB_TOKEN": "ghp_your_pat_with_repo_and_secrets_scope",
  "REPO_OWNER": "baturhantasdelen-sudo",
  "DOCKER_USERNAME": "your_dockerhub_username",
  "DOCKER_PASSWORD": "your_dockerhub_access_token",
  "PROD_SERVER_IP": "YOUR_GCE_STATIC_EXTERNAL_IP",
  "PROD_SERVER_USER": "ubuntu",
  "PROD_SSH_PRIVATE_KEY": ""
}
